<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Polls Application</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <style>
        body{
            color: white;
        }
        .bg
        {
            background-image: url("{% static 'polls/bg.avif' %}");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="bg">
        <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 p-5">
            <h1 class="mb-5">Welcome to Django Polls Dashboard</h1>
            {% if latest_question_list %}
                <table class="table text-white">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Question</th>
                        <th scope="col">Link</th>
                      </tr>
                    </thead>
                {% for question in latest_question_list %}
                    <tbody>
                        <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{question.question_text}}</td>
                        <td>
                            <a href="{% url 'polls:detail' question.id %}">
                                <button type="button" class="btn btn-info">Vote</button>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                {% endfor %}
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
    </div>

    <!-- {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %} -->

</body>
</html>