<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Polls Application</title>

    <!-- {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <style>
        body{
            color: white;
        }
        .bg
        {
            background-image: url("{% static 'polls/bg.avif' %}");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;
        }
    </style> -->
</head>
<body>
    

    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

</body>
</html>